@model Photo

@{
}

<h1>Edytuj zdjęcie</h1>

<h3>Edytuj zdjęcie: </h3>
<form asp-controller="Photo" asp-action="Edit" method="post">
    
    <label asp-for="Date"></label>
    <input class="form-control" type="date" asp-for="Date" />
    <span class="text-danger" asp-validation-for="Date"></span><br>
    
    <label asp-for="Description"></label>
    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
    <span class="text-danger" asp-validation-for="Description"></span><br>
    
    <label asp-for="Camera"></label>
    <input class="form-control" asp-for="Camera" />
    <span class="text-danger" asp-validation-for="Camera"></span><br>
    
    <label asp-for="Author"></label>
    <input class="form-control" asp-for="Author" />
    <span class="text-danger" asp-validation-for="Author"></span><br>
    
    <label asp-for="Resolution"></label>
    <input class="form-control" asp-for="Resolution" />
    <span class="text-danger" asp-validation-for="Resolution"></span><br>
    
    <label asp-for="AspectRatio"></label>
    <input class="form-control" asp-for="AspectRatio" />
    <span class="text-danger" asp-validation-for="AspectRatio"></span><br>
    
    <label asp-for="Priority"></label>
    <select asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()" class="form-control"></select>
    <span asp-validation-for="Priority" class="text-danger"></span>
    
    <br>
    
    <input type="submit" class="btn btn-primary" value="Zaktualizuj zdjęcie!" />
    
</form>