@model Contact
@{
}

<h1>Dodaj kontakt</h1>
<form asp-controller="Contact" asp-action="Update" method="post">
    
    <label>Name</label>
    <input class="form-control" asp-for="Name" />
    <span class="text-danger" asp-validation-for="Name"></span>
    
    <label>Email</label>
    <input class="form-control" asp-for="Email" />
    <span class="text-danger" asp-validation-for="Email"></span>
    
    <label>Phone</label>
    <input class="form-control" asp-for="Phone" />
    <span class="text-danger" asp-validation-for="Phone"></span>
    
    <label>Birth</label>
    <input class="form-control" asp-for="Birth" />
    <span class="text-danger" asp-validation-for="Birth"></span>
    
    <input type="submit" value="Dodaj kontakt" />
    
</form>